// COLORS
$color-primary: #f9f9f9;
$color-secondary: #3E50B4;
$color-tertiary: #283999;
$color-pint: #60E9FE;
$color-grey: #E0E0E0;
$color-line: #5969C1;
$color-dark-grey: #8A8A8A;

$color-white: #FFF;
$color-black: #000;

// SHADOW
$shadow-dark: 0 .1rem .2rem .1rem rgba(0, 0, 0, 0.2);

// GRID
$grid-width: 120rem;

$gutter-vertical: 3rem;
$gutter-vertical-small: 1.5rem;
$gutter-horizontal: 1.5rem;
